extends ../layouts/layout

block content
  .row-mb-3
    .col-xl-10.offset-xl-1
      p Fallout FEMIG is a comprehensive, quick-reference catalog of over 1000 lore-friendly gameplay enhancement mods that improve how the game plays with a focus on mods that create a more realistic, immersive, and challenging experience.
      p This project is heavily inspired by Skyrim GEMS and owes its existance to Ka3m0n for the original Skyrim GEMS. This project is hosted through GitHub Pages, and is open-source. Feel free to give suggestions for new mods, or changes to the existing list.
      p This is a sibling project to my recreation of Skyrim GEMS and GEMSSE. Feel free to check out those projects.