extends ../layouts/layout

block content
  .row-mb-3
    .col-xl-10.offset-xl-1
      p Fallout FEMIG is a quick-reference catalog of lore-friendly gameplay enhancement mods that improve how the game plays with a focus on mods that create a more realistic, immersive, and challenging experience.
      p This project is heavily inspired by Skyrim GEMS by Ka3m0n, and is hosted via GitHub Pages. Feel free to contribute to the project via Issues or Pull Requests.
      p This is a sibling project to my recreation of Skyrim GEMS and GEMSSE. Feel free to check out those projects.